html {
  height: 100%;
}
body {
  padding-top: 120px;
  min-height: 100%;
  color:black;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.modal-backdrop {
  bottom: 0;
}
div.panel-group {
    margin-bottom:8px;
}
.marquis {
    text-align:left;display:inline-block; color:#c3c3c3;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:150px;
}