<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="jukebox">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pi Tunes</title>
    <link href="/css/lib.css" rel="stylesheet" />
    <link href="/css/app.css" rel="stylesheet" />
 
</head>
<body ng-cloak>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    -->
                <a class="navbar-brand" href="#">Pi Tunes</a>

            </div>
           <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav"> -->
                    <!--<li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>-->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
        <div>
            <center>
                <span style="display:inline-block; color:#b3b3b3;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:300px;" id="audiomarquis"></span>
                <audio id="audioplayer" controls>
                </audio>
               
            </center>
        </div>

    </nav>


    <main class="container" ng-controller="foldersCtrl as vm">
        <accordion ng-repeat="folder in vm.folders">
            <accordion-group close-others="false">
                <accordion-heading><label>{{folder.folderTitle}}</label></accordion-heading>
                <div class="row"><div class="col-xs-4"><button class="btn btn-sm btn-block" ng-click="vm.playSong(folder.songs[0])">Play All</button></div></div>
                <div class="row" ng-repeat="song in folder.songs">
                    <div class="col-xs-12">
                        <button type="button" ng-click="vm.playSong(song)" ng-class="{active:vm.currentSong === song, focus:vm.currentSong === song }" class="btn btn-block btn-default" style="margin-top:5px;text-align:left;">{{ song.songTitle }}</button>
                    </div>
                </div>
            </accordion-group>
        </accordion>


        <!--<div ng-repeat="folder in vm.folders" class="row">
            <p>
                <div class="col-xs-11">

                    <button type="button" ng-click="vm.toggleSongList(folder)" class="btn btn-primary btn-block" style="text-align:left;">{{ folder.folderTitle }}</button>
                    <div class="row" ng-repeat="song in folder.songs" ng-show="folder.expanded">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <button type="button" ng-click="vm.playSong(song)" ng-class="{active:vm.currentSong === song.songFile}" class="btn btn-primary btn-sm btn-block" style="margin-top:5px;text-align:left;">{{ song.songTitle }}</button>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>
                </div>
            </p>

        </div>
            -->
    </main>

    <footer></footer>
    <!--vendor:js-->
    <!--endinject-->
    <!--app:js-->
    <!--endinject-->
    <!-- config -->
    <script src="config.js"></script>


</body>
</html>